table{
    width: 30%;
    border: gray;
}
th, td{
    border: 1px solid white;
}

th {
    background-color: grey;
    
}
th, td {
    padding: 10px;
    text-align: left;
}

#table00 tr:nth-child(even){
    background-color: greenyellow;
}

#table00 tr:nth-child(odd) {
    background-color: white;
}